%h1 Listing Banners

%table
  %tr
    %th Title
    %th Thumbnail
    %th Options

  - @banners.each do |banner|
    %tr
      %td= banner.title
      %td= image_tag(banner.image.url(:thumb))
      %td
        = link_to 'Show', banner
        = link_to 'Edit', edit_banner_path(banner)
        = link_to 'Destroy', banner, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Banner', new_banner_path
