%h1 Banner Details
%p#notice= notice

%p
  %b Title:
  = @banner.title
%p
  %b Image:
  = link_to image_tag(@banner.image.url(:thumb)), @banner.image.url
/ %p
/   %b Old:
/   = @banner.old_id

= link_to 'Edit', edit_banner_path(@banner)
\|
= link_to 'Back', banners_path
